<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>version</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
	<plugin name="cordova-plugin-sms" source="npm" />
	<gap:plugin name="cordova-plugin-sms" source="npm" />
	<plugin name="cordova-plugin-geolocation" source="npm"/>
    <content src="index.html" />
	<access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<access origin="tel:*" launch-external="yes"/>
	<access origin="geo:*" launch-external="yes"/>
	<access origin="mailto:*" launch-external="yes"/>
	<access origin="sms:*" launch-external="yes"/>
	<access origin="market:*" launch-external="yes"/>
    
	<allow-navigation href="*" />
	<allow-intent href="*" />
	<access origin="*" /> <!-- Required for iOS9 -->
	
	<platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <access origin="*" />
	


  </widget>
