<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>PhoneGap Build Application</name>

<description>
A simple PhoneGap Build application.
</description>

<author href="https://example.com" email="you@example.com">
Your Name
</author>

</widget>

<!-- this is for Push Notofication-->
<gap:plugin name="onesignal-cordova-plugin" spec="^2.0.10" source="npm" />

<!--Requires cli-5.1.1+ for gradle Android but we recommend using the latest version. -->
<preference name="phonegap-version" value="cli-6.4.0" />
<preference name="android-build-tool" value="gradle" />

<!-- Window Phone 8.1 builds must use cli-6.1.0+ above -->
<preference name="windows-appx-target" value="8.1-phone" />
<preference name="WindowsToastCapable" value="true" />

<vs:features>
    <vs:feature>onesignal-cordova-plugin</vs:feature>
</vs:features>
